{embed="/_includes/header"}
{exp:channel:entries
        channel="products"
        limit="1"
        url_title="{last_segment}"
        show_expired="no"
        show_future_entries="no"
        status="NOT closed"
      }
    <div id="background"></div>

    <div id="cart">
      <a href="/cart" id="cart-total">0</a>
    </div>

    <div class="container">

        <div class="main">
            <img src="#">

            <div class="content">
                <h2>
                    {title}
                </h2>
                <div class="price">
                    <p>Price: £{price}</p>

                    <a class="cart-button" onclick="addToCart('{title}'), addPrice({price})">add to cart</a>
                </div>
            </div>
        </div>

    </div>
{/exp:channel:entries}
    <script src="/assets/js/colour-change.js"></script> <script>includeHTML();</script>
    <script src="/assets/js/cart.js"></script>
</body>
</html>
