<!DOCTYPE html>
<html>
<head>
    {embed=/_includes/dnd-header}
    <title>{layout:page-title}</title>
</head>
<body class="archive">
    {embed="/_includes/nav"}
    <div class="container">
        <h1>{layout:page-title}</h1>

        {exp:channel:entries channel="{layout:page-channel}" orderby="appeared-in" sort="asc"}
        {if last_segment != "{layout:page-channel}"}
            {redirect="404"}
        {/if}
        <div class="profile-box categories" id="{url_title}">
            <ul>    
                {categories orderby="asc"}
                <li style="background-color:{colour}">
                    <h4>{category_name}</h4>
                </li>
                {/categories}
            </ul>
            <a href="/{segment_1}/profile/{url_title}">
                <h2>{title}</h2>
            </a>
            <p>{standfirst}</p>
        </div>
        {/exp:channel:entries}
    </div>

</body>
</html>