<!DOCTYPE html>
<html>
<head>
	{embed=/_includes/dnd-header}
	{exp:channel:entries channel='{layout:page-channel}' limit='1' url_title="{last_segment}"}
		<title>{title}</title>
	{/exp:channel:entries}
</head>
<body>
	{embed="/_includes/nav"}
	<div class="container profile">
		{exp:channel:entries channel='{layout:page-channel}' limit='1' url_title="{last_segment}"}

		<div class="top">
		<div class="{if image}left{if:else}center{/if}">
				<h1>
					{title}
				</h1>
				<h3>
					{standfirst}
				</h3>
			</div>

			{if image}
			<div class="right">
                <a href="{image}" target="_blank">
                    <img src="{image}" />
                </a>
			</div>
			{/if}
			<div class="clearfix"></div>

			<div class="key-points{if key-points}{if:else} extra-padding{/if}">
				<div class="categories">
					<ul>    
						{categories orderby="asc"}
						<li style="background-color:{colour}">
							<h4>{category_name}</h4>
						</li>
						{/categories}
					</ul>
				</div>

				{key-points}
				<h2 class="key-point">
					{key-points:info}
				</h2>
				{/key-points}
			</div>
			</div>

            {if abilities OR owner}
            <div class="box{if description} sidebar{/if}">
                {if owner}
                <div class="owner">
                    <h2>
                        Current owner:
                    </h2>
                    {owner}
                    <a class="thin" href="/characters/profile/{owner:url_title}">
                        {owner:title}
                    </a>
                    {/owner}
                </div>
                {/if}

                {if abilities AND owner}
                <div class="dividing-line"></div>
                {/if}

                {if abilities}
                <div class="abilities">
                    <h2>
                        Abilities:
                    </h2>
                    <ul>
                        {abilities}
                            <li>
                                - {abilities:ability}
                            </li>
                        {/abilities}
                    </ul>
                </div>
                {/if}
            </div>
            {/if}

			<p>
				{description}
			</p>

			{if appears-in}
			<div class="menu{if description OR abilities OR owner}{if:else} no-desc{/if}">
				<ul>
					<li>
						<h2>
							Appears in:
						</h2>
					</li>
					{appears-in orderby="chapter" sort="asc"}
					<li>
						<a class="thin" href="/story#{appears-in:url_title}">
							{appears-in:title}
						</a>
					</li>
					{/appears-in}
				</ul>
			</div>
			{/if}

		{/exp:channel:entries}

		<div class="all-comments">

			<div class="comments-box">
				<h2>
					Lloyd's notes:
				</h2>
				{exp:comment:entries sort="asc" limit="20" author_id="2" channel="{layout:page-channel}" url_title="{last_segment}"}
				<p>
					{comment}
				</p>
				{/exp:comment:entries}

				{if logged_in_member_id == "2"}
				{exp:comment:form channel="{layout:page-channel}" url_title={last_segment}}
				<div class="new-comment">
					<label for="comment"><h2>New note:</h2></label><br />
					<textarea name="comment" rows="4">{comment}</textarea> 

					<input class="button" type="submit" name="submit" value="Submit" />
				</div>
				{/exp:comment:form}
				{/if}
			</div>

			<div class="comments-box">
				<h2>
					Harry's notes:
				</h2>
				{exp:comment:entries sort="asc" limit="20" author_id="3" channel="{layout:page-channel}" url_title="{last_segment}"}
				<p>
					{comment}
				</p>
				{/exp:comment:entries}

				{if logged_in_member_id == "3"}
				{exp:comment:form channel="{layout:page-channel}" url_title={last_segment}}
				<div class="new-comment">
					<label for="comment"><h2>New note:</h2></label><br />
					<textarea name="comment" rows="4">{comment}</textarea> 

					<input class="button" type="submit" name="submit" value="Submit" />
				</div>
				{/exp:comment:form}
				{/if}
			</div>

			<div class="comments-box">
				<h2>
					Holly's notes:
				</h2>
				{exp:comment:entries sort="asc" limit="20" author_id="4" channel="{layout:page-channel}" url_title="{last_segment}"}
				<p>
					{comment}
				</p>
				{/exp:comment:entries}

				{if logged_in_member_id == "4"}
				{exp:comment:form channel="{layout:page-channel}" url_title={last_segment}}
				<div class="new-comment">
					<label for="comment"><h2>New note:</h2></label><br />
					<textarea name="comment" rows="4">{comment}</textarea> 

					<input class="button" type="submit" name="submit" value="Submit" />
				</div>
				{/exp:comment:form}
				{/if}
			</div>
		</div>
	</div>
</body>
</html>