<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137238322-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137238322-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDR5DLM');</script>
    <!-- End Google Tag Manager -->

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/tiamat-new.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">
    <meta charset="utf-8">
    <title>{if layout:title}{layout:title}{if:else}Tiamat{/if}
    </title>
    <link rel="stylesheet" href="/assets/css/hamburgers.css">
    <link rel="stylesheet" href="/assets/css/dnd.css">
    <link rel="stylesheet" href="/assets/css/dnd-responsive.css">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/7fc829ab0b8808c34ab930759/c1bfb8b1ba5a6ab49d06470e2.js");</script>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

{layout:contents}

<footer>
    <div class="container">
        <div class="left">
            <ul>
                <li>
                    <a class="thin" href="mailto:chester@tiamat.uk" target="_blank">Contact</a>
                </li>
                 &bull; 
                <li>
                    <a class="thin" href="https://www.dndbeyond.com/" target="_blank">D&D Beyond</a>
                </li>
                 &bull; 
                <li>
                    <a class="thin" href="/newsletter">Newsletter</a>
                </li>
            </ul>
            <p>
                Copyright &copy; Chester Black {current_time format="%Y"}
            </p>
        </div>
        <div class="right">
            <a href="/">
                <h6>
                    Tiamat
                </h6>
            </a>
        </div>
    </div>
</footer>

</html>