<div class="menu-inner">
  <div class="colour-buttons">
    <button class="colour-button" onclick="turnRed(),activateButton()" id="red-button"></button>
    <button class="colour-button" onclick="turnBlue(),activateButton()" id="blue-button"></button>
    <button class="colour-button" onclick="turnGreen(),activateButton()" id="green-button"></button>
    <button class="colour-button" onclick="turnWhite(),activateButton()" id="white-button"></button>
    <button class="colour-button" onclick="turnBlack(),activateButton()" id="black-button"></button>
  </div>
  <nav>
      <ul>
          <li><a href="/">home</a></li>
          <li><a href="/cart">cart</a></li>
      </ul>
  </nav>
</div>
