<nav class="dnd-header">
    <div class="container">
        <ul>
            <li class="left">
                <a href="/dungeons-and-dragons">
                    Home
                </a>
            </li>
            <li>
                <a href="/story">
                    The Story So Far...
                </a>
            </li>
            <li>
                <a href="/characters">
                    Characters
                </a>
            </li>
            <li>
                <a href="/items">
                    Items
                </a>
            </li>
            <li>
                <a href="/locations">
                    Locations
                </a>
            </li>
            <li>
                <a href="/resources">
                    Resources
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</nav>