<script src="/assets/js/hamburger.js"></script>

<nav class="dnd-header">
    <div class="container">
        <ul class="header-list">
            <li class="left">
                <a href="/dungeons-and-dragons">
                    Home
                </a>
            </li>
            {if !logged_in}
            <li>
                <button>
                    <a href="/admin.php">
                        Login
                    </a>
                </button>
            </li>
            {if:else}
            <li>
                <button>
                    <p>
                        {logged_in_screen_name}
                    </p>
                </button>
            </li>
            {/if}
            <li>
                <a href="/story">
                    The Story So Far...
                </a>
            </li>
            <li>
                <a href="/characters">
                    Characters
                </a>
            </li>
            <li>
                <a href="/items">
                    Items
                </a>
            </li>
            <li>
                <a href="/locations">
                    Locations
                </a>
            </li>
            <li>
                <a href="/resources">
                    Resources
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</nav>

<div id="mobile-menu">
    {embed="/_includes/dnd-mobile-menu"}
</div>

<button class="hamburger hamburger--collapse" id="hamburger" type="button" onclick="expand()">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>