@media screen and (max-width: 830px) {
    input{
        position: initial;
        margin-left: 0;
        width: 100%;
    }
    textarea{
        margin-top: 10px;
    }
    .homepage{
        .channel{
            width: 80%;
        }
    }
    .dnd-header{
        display: none;
    }
    .profile .experience .xp-bar{
        width: 70%;
    }
    .hamburger {
        display: block;
        padding: 10px 0 0 0;
        margin: 10px 0 0 20px;
    }
    .showme{
        display: block;
        float: right;
        margin: 6px 20px 0 0;

        p, a{
            font-weight: 100;
            text-decoration: none;
        }
    }
    .mobile-nav{
        border-bottom: 1px solid #000000;
        padding-bottom: 13px; 
    }
    .is-active{
        margin: 0 0 20px 75px;
    }
    #mobile-menu.open-menu{
        display: block;
        width: 200px;
        height: 100vh;
    }
    #mobile-menu{
        background: rgba(255,255,255,0.95);
        position: fixed;
        top: 0;
        left: 0;
        border-right: 1px solid #000000;
    }
    .menu-inner{
        width: 100%;

        ul{
            margin-top:60px;
        }
        li{
            float: none;
            margin: 15px;

            a{
                font-size: 25px;
                text-decoration: none;
            }
        }
    }
    h1,footer h6{
        font-size: 35px;
        letter-spacing: 9px;
    }
    h3{
        font-size: 35px;
    }
    .profile{
        .left{
            max-width: 100%;
        }
        .right{
            max-width:100%;
            float: none;
        }
        .extra-padding{
            padding-bottom: 5px;
        }
        h2{
            font-size: 17px;
        }
        .key-points{
            text-align: center;
        }
        .key-point:nth-last-child(n+2)::after{
            margin: 0;
        }
        .sidebar{
            float: none;
            margin: 0 auto 15px auto;
            max-width: 100%;
        }
        .all-comments{
            .comments-box{
                max-width: 100%;
                margin-bottom: 20px;
                border: none;
                border-bottom: 1px solid #000000;

                h2{
                    border-bottom: 1px solid #000000;
                }
            }
        }
    }
    .categories{
        ul{
            float: none;
            margin-bottom: 5px;
        }
    }
    .combat-tracker .setup .inputs li{
        width: 100%;
    }
    footer{
        .left,.right{
            float: none;
            width: 100%;
            text-align: center;
        }
    }
}