:root{
    --color-primary: #000000;
    --color-secondary: rgba(212, 212, 212, 0.45);
    --color-alert-neg: #b1372b;
    --font-main: 'Roboto', sans-serif;
    --weight-main: 100;
    --line-main: 1px solid;
}
:focus{
    outline: none;
}
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}
hr{
    border-top: 1px solid var(--color-primary);
}
.clearfix{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    width: 90%;
}
.hamburger{
    display:none;
}
.showme{
    display: none;
}
#mobile-menu{
    width: 0px;
    overflow: hidden;
    display: none;
}
table{
    padding: 15px;
    background-color: var(--color-secondary);
    border: var(--line-main) var(--color-primary);
    margin-bottom: 10px;
}
td{
    padding: 5px 10px 0 5px;
    max-width: 210px;
    font-weight: var(--weight-main);
}
p,em,a,li,td,button,span,input,select{
    font-family: var(--font-main);
    font-size: 26px;
    margin: 0;
    color: var(--color-primary);
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
p,em{
    font-weight: 300;
    font-size: 19px;
}
h1, footer h6{
    display: inline-block;
    color: var(--color-primary);
    font-family: var(--font-main);
    font-weight: var(--weight-main);
    text-transform: uppercase;
    letter-spacing: 12px;
    font-size: 50px;
    float: none;
    margin: 25px auto 20px auto;
    display: block;
}
.h1-container{
    text-align: center;
    border-bottom: var(--line-main) var(--color-primary);
    margin-bottom: 25px;
}
h2{
    display: inline-block;
    font-family: var(--font-main);
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 900;
    font-size: 21px;
    letter-spacing: -0.5px;
    margin: 0;
}
h3{
    font-size: 43px;
    color: var(--color-primary);
    font-family: var(--font-main);
    margin: 0;
    margin-bottom: 20px;
}
a.thin{
    font-weight: 100;
    text-decoration: none;
    border-bottom: var(--line-main) var(--color-primary);
}
a.thin:hover{
    border-bottom: 2px solid var(--color-primary);
}
button{
    border-radius: 0;
    background: none;
    font-family: var(--font-main);
    text-transform: uppercase;
    font-weight: 300;
    border: var(--line-main) var(--color-primary);
    font-size: 16px;
}
input:not([type=checkbox]){
    background: none;
    border: var(--line-main) var(--color-primary);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 250px;
    max-width: 100%;
    text-transform: uppercase;
    font-weight: 100;
}
.alert{
    color: var(--color-alert-neg);
    font-weight: 700;
}

/* HOMEPAGE */
.homepage{
    text-align: center;

    .top{
        border-bottom: var(--line-main) var(--color-primary);
    }
    .story{
        border-bottom: var(--line-main) var(--color-primary);
        padding: 30px 0 30px 0;

        img{
            margin-bottom:15px;
        }
    }
    .channel{
        border: var(--line-main) var(--color-primary);
        width: 40%;
        padding: 30px 20px;
        margin: 15px;
        display: inline-block;

        img{
            margin-bottom: 20px;
        }
    }
    .channel:hover{
        border: 2px solid var(--color-primary);
        padding: 29px 19px;
    }
    ul{
        margin-bottom: 20px;
    }
    h2{
        font-weight: 100;
        letter-spacing: 3px;
        margin-bottom:1px;
    }
    h2:hover{
        border-bottom: var(--line-main) var(--color-primary);
        margin-bottom:0;
    }
    a{
        text-decoration: none;
    }
}

/* STORY */
.chapter{
    padding-bottom: 30px;
    border-bottom: var(--line-main) var(--color-primary);
    margin-bottom: 30px;

    em{
        margin-left: 35px;
    }
    p a{
        font-size: 19px;
    }
}
.book{
    text-align: center;
    padding-bottom: 10px;
    
    h3{
        text-transform: uppercase;
    }
}
.menu{
    text-align: center;
    margin-bottom: 90px;

    ul{
        margin-bottom: 30px;
    }
    hr{
        margin-top: 30px;
    }
    li{
        display: inline-block;
        margin: 0 5px;
    }
}
.top-arrow{
    position: fixed;
    bottom: 10px;
    right: 15px;;
}


/* POPUP PROFILE BOXES */
.hidden{
    display: none;
}
.profile-box{
    border:var(--line-main) var(--color-primary);
    position: fixed;
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.9);

    p{
        font-size: 18px;
    }
}
.categories{
    ul{
        float: right;
        margin: 0;
    }
    li{
        list-style: none;
        display: inline-block;
        padding: 0 5px;
        border-radius: 5px;
    }
    h4{
        font-family: var(--font-main);
        color:#ffffff;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }
}

/* PROFILE */
.profile{
    .desc{
        width: 100%;
        max-width: 600px;
    }
    div.level{
        text-align: center;
        margin-bottom: -26px;
        margin-top: 22px;
    }
    button{
        padding: 10px;

        a{
            text-decoration: none;
            font-weight: 200;
        }
        a:hover{
            border-bottom: var(--line-main) var(--color-primary);
        }
    }
    .experience{
        width: 100%;
        text-align: center;

        li{
            display: inline-block;
        }
        .xp-bar{
            width: 92%;
            background-color: #b1372b;
            margin: 0 auto 5.5px auto;
            border: var(--line-main) var(--color-primary);
        }
        .inner-xp{
            background-color: #b1cc3d;
            padding: 3px 0;
            border-right: 3px solid var(--color-primary);
            box-sizing: content-box;
            box-shadow: -2px 0 0 0 var(--color-primary) inset;
            float: left;
        }
        li.level{
            border: var(--line-main) var(--color-primary);
            height: 30px;
            min-width: 30px;
            text-align: center;
            border-radius: 20px;
            font-weight: 100;
        }
        .current{
            margin-right: -5px;
        }
        .next{
            margin-left: -5px;
        }
    }
    .key-point:nth-last-child(n+2)::after{
        content: "•";
        margin: 0 5px;
    }
    .left{
        max-width: 60%;
    }
    .right{
        max-width: 39%;
    }
    
    img{
        margin-top: 25px;
        width: 100%;
        height: 335px;
        object-fit: cover;
        object-position: 30% 20%;
    }
    summary::-webkit-details-marker{
        display: none;
        position: absolute;
    }
    details summary{
        .bg{
            display: none;
        }
    }
    details[open] summary{
        .bg{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color:rgba(0,0,0,0.5);
        }
    }
    .popup{
        margin: 0;
        height: unset;
        width: unset;
        object-fit: unset;
        position: fixed;
        left: 50%;
        top:10%;
        transform: translateX(-50%);
        max-width: 800px;
        max-height: 80%;
    }
    .key-points{
        padding: 10px;
        border-top: var(--line-main) var(--color-primary);
        border-bottom: var(--line-main) var(--color-primary);
        margin: 10px 0 20px 0;
    }
    .extra-padding{
        padding-bottom: 30px;
    }
    .center{
        text-align: center;
    }
    .menu{
        border-top: var(--line-main) var(--color-primary);
        margin-top: 50px;
    }
    .no-desc{
        border-top: none;
        margin-top:0;
    }
    .box{
        ul{
            margin: 0;
        }
        li{
            font-weight: 100;
            font-size: 21px;
            margin: 5px 0;
        }
        .dividing-line{
            margin: 15px 0;
        }
    }
    .sidebar{
        border: var(--line-main) var(--color-primary);
        padding: 15px;
        background-color: var(--color-secondary);
        max-width: 36%;
        width: 100%;
        float: right;
        margin-left: 20px;
        box-sizing: border-box;

        .dividing-line{
            border-bottom:var(--line-main) var(--color-primary);
        }
    }
    .all-comments{
        text-align: center;
        width: 100%;
        margin-bottom: 45px;

        .comments-box{
            border-right: var(--line-main) var(--color-primary);
            border-left: var(--line-main) var(--color-primary);
            display: inline-block;
            width: 100%;
            max-width: 33%;
            vertical-align: top;
            padding: 0 10px;
            box-sizing: border-box;

            h2{
                margin-bottom: 10px;
            }
            p{
                text-align: left;
            }
            .new-comment{
                margin-top: 20px;
                text-align: left;

                input{
                    position: relative;
                    bottom: 60px;
                    left: 155px;
                    width: initial;
                }
                h2{
                    margin-bottom: 0;
                }
                textarea{
                    width:98%;
                    font-family: var(--font-main);
                    font-size: 19px;
                    font-weight: 300;
                    resize: none;
                    resize: vertical;
                    outline: none;
                    border: var(--line-main) var(--color-primary);
                }
            }
        }
    }
}

/* RESOURCES */
.resources{
    img{
        object-position: 0 0;
    }
    .buttons{
        text-align: center;
    }
    button{
        background: none;
        border: var(--line-main) var(--color-primary);
        padding: 10px;
        margin: 10px;
        display: inline-block;
        width: 250px;
        max-width: 100%;

        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 100;
        }
        a:hover{
            border-bottom: var(--line-main) var(--color-primary);
        }
    }
}

/* ARCHIVE */
.archive{
    a{
        font-size: initial;
    }
    .profile-box{
        position: static;
        margin: -1.5px auto;
        border-left: none;
        border-right: none;
        background-color: #ffffff;
    }
}

/* NAV */
nav{
    border-bottom: var(--line-main) var(--color-primary);
    padding-bottom: 10px;
    background: rgba(255,255,255,0.95);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}
.header-list{
    width: 100%;
    margin: 0;

    .left{
        float: left;
    }
    li{
        float: right;
        margin: 10px 20px 0 0;

        a{
            text-decoration: none;
            text-transform: uppercase; 
            font-weight: 100;
            font-size: 19px;

            &:hover{
                border-bottom: var(--line-main) var(--color-primary);
            }
        }
        button{
            padding: 5px 10px;
            margin: 0;
            font-size: 16px;
    
            p{
                font-weight: 100;
            }
        }
        button:focus{
            outline: none;
        }
    }
}

/* FOOTER */
footer{
    border-top: var(--line-main) var(--color-primary);
    margin-top: 50px;
    font-weight: var(--weight-main);
    position: absolute;
    bottom: 0;
    width: 100%;

    li{
        display: inline-block;
    }
    a,p{
        margin-bottom: 5px;
        font-size: 19px;
        text-decoration: none;
    }
}

/* 404 PAGE */
.fourohfour{
    padding-top: 75px;

    .left{
        max-width: 50%;
        margin-top: 130px;
    }
    .right{
        text-align: center;
    }
    p{
        font-size: 26px;
    }

}

/* COMBAT TRACKER */
.combat-tracker{
    h1{
        text-align: center;
    }
    input{
        position: static;
        box-sizing: border-box;
        text-transform: none;
        font-size: 26px;
    }
    input:focus, input:hover{
        padding:9px;
        border: 2px solid var(--color-primary);
    }
    button{
        font-size: 26px;
        font-weight: 100;
    }
    button:hover{
        border: 2px solid var(--color-primary);
    }
    li{
        font-weight: 100;
    }
    .setup{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 35px;
        border-top: var(--line-main) var(--color-primary);

        .inputs{
            li{
                display: inline-block;
                width: 30%;

                input{
                    width: 100%;
                }
            }
            li:last-child{
                width: auto;
                margin-left: 10px;
                vertical-align: bottom;
            }
        }
    }
    .combat{
        padding: 10px 15px;
    }
    .combat:hover{
        padding: 9px 14px;
    }
    .new,.damage{
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .new:hover{
        padding-top:9px;
        padding-bottom:9px;
    }
    .damage:hover{
        padding:9px 6px;
    }
    .characters{
        padding: 20px 0;
        border-top: var(--line-main) var(--color-primary);
        margin: 0;

        li:first-child{
            margin-bottom: 20px;
        }
    }
}

.view-all-categories{
    margin-top: 25px;
    text-align: center;

    button{
        padding: 15px;
    }
    a{
        font-size: 26px;
        text-decoration: none;
        font-weight: 100;
    }
    a:hover{
        border-bottom: var(--line-main) var(--color-primary);
    }
}
.category-link{
    text-decoration: none;
}

// CHARACTER SHEETS
.character-sheet{
    font-weight: 200;

    .core{
        text-transform: capitalize;
        border-top: var(--line-main) var(--color-primary);
        border-bottom: var(--line-main) var(--color-primary);
        padding: 10px 0;
        text-align: center;

        li{
            display: inline-block;
            width: 33%;
            box-sizing: border-box;
        }
    }
    .attributes{
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: top;
    }
    .prof{
        margin-top: 10px;
    }
    hr{
        margin: 15px 0;
        border-top: var(--line-main) var(--color-primary);
    }
    button{
        padding: 10px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 26px;
        margin: 10px 0 25px 0;
        min-width: 30%;
    }
    button:hover{
        cursor: pointer;
    }
    button:hover span{
        border-bottom: var(--line-main) var(--color-primary);
    }
}
table{
    width: 100%;
}
tr:nth-child(2n+3),
tbody tr:nth-child(2n+2){
    background-color: var(--color-secondary);
}
.titles td{
    border-bottom: var(--line-main) var(--color-primary);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 21px;
    letter-spacing: -0.5px;
}
#savedTitle{
    margin-top: 20px;
}
button.plus{
    min-width: 55px;
    margin-left: -20px;
}
div.submit{
    text-align: center;
}
.inputs{
    input[type=checkbox]{
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: var(--line-main) var(--color-primary);
        text-align: center;
        box-sizing: border-box;
        border-radius: 0;
    }
    input[type=checkbox]:hover{
        border: 2px solid var(--color-primary);
    }
    input[type=checkbox]:checked{
        background-color: var(--color-primary);
    }
    input:not([type=checkbox]), select{
        border: var(--line-main) var(--color-primary);
        border-radius: 0;
        -webkit-appearance: none;
        padding: 10px;
        background: none;
        font-family: var(--font-main);
        font-weight: 200;
        font-size: 26px;
        text-transform: none;
        margin: 10px;
    }
    span{
        font-weight: 200;
        text-transform: capitalize;
        margin-left: 5px;
    }
    select{
        padding-right: 30px;
        text-transform: capitalize;
    }
    .arrow{
        border-right: var(--line-main) var(--color-primary);
        border-bottom: var(--line-main) var(--color-primary);
        width: 10px;
        height: 10px;
        position: relative;
        top: -5px;
        right: 40px;
        transform: rotate(45deg);
        display: inline-block;
    }
}

// NEWSLETTER
.newsletter{
    p,h2{
        margin-top: 25px;
    }
    input{
        max-width: 550px;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;

        &:focus{
            box-shadow: inset 0px 0px 0px 1px var(--color-primary);
        }
    }
    button{
        font-size: 26px;
        font-weight: 100;
        padding: 10px 30px;

        &:hover{
            box-shadow: inset 0px 0px 0px 1px var(--color-primary);
        }
    }
}