.clearfix{
    clear: both;
}
h1{
    float: none;
    margin: 25px auto 20px auto;
    display: block;
}
.h1-container{
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;
}
h2{
    font-weight: 900;
    font-size: 21px;
    letter-spacing: -0.5px;
}
h3{
    font-size: 43px;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    margin-bottom: 20px;
}

/* STORY */
.chapter{
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
}
p{
    font-weight: 300;
}
em{
    margin-left: 35px;
}
.menu{
    text-align: center;
    margin-bottom: 40px;

    li{
        display: inline-block;
        margin-bottom: 10px;
    }
    a{
        font-weight: 100;
        text-decoration: none;
        border-bottom: 1px solid #000000;
        margin: 0 15px;
    }
    a:hover{
        border-bottom: 2px solid #000000;
    }
}
.top-arrow{
    text-align: center;
    width: 30px;
    height: 26px;
    border-radius: 20px;
    border: 1px solid #000000;
    float: right;
    padding-top: 4px;

    a:hover{
        font-weight: 900;
    }
    a{
        text-decoration: none;
        font-weight: 100;
    }
}


/* POPUP PROFILE BOXES */
.hidden{
    display: none;
}
.profile-box{
    border:1px solid #000000;
    position: fixed;
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.9);

    p{
        font-size: 18px;
    }
}
.categories{
    ul{
        float: right;
        margin: 0;
    }
    li{
        list-style: none;
        display: inline-block;
        padding: 0 5px;
        border-radius: 5px;
    }
    h4{
        font-family: 'Roboto', sans-serif;
        color:#ffffff;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }
}

/* PROFILE */
.profile{
    .key-point:nth-last-child(n+2)::after{
        content: "•";
        margin: 0 10px;
    }
    .left{
        max-width: 60%;
        float: left;
    }
    .right{
        max-width: 39%;
        float: right;
    }
    img{
        margin-top: 25px;
        max-width: 100%;
    }
    .key-points{
        padding: 10px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin: 10px 0 20px 0;
    }
    .extra-padding{
        padding-bottom: 30px;
    }
    .center{
        text-align: center;
    }
    .menu{
        border-top: 1px solid #000000;
        margin-top: 50px;
    }
    .no-desc{
        border-top: none;
        margin-top:0;
    }
}

/* CHARACTERS */
.characters{
    a{
        font-size: initial;
    }
    .profile-box{
        position: static;
        margin: -1px auto;
        border-left: none;
        border-right: none;
        background-color: #ffffff;
    }
}