.clearfix{
    clear: both;
}
p{
    font-weight: 300;
    font-size: 19px;
}
h1{
    float: none;
    margin: 25px auto 20px auto;
    display: block;
}
.h1-container{
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;
}
h2{
    font-weight: 900;
    font-size: 21px;
    letter-spacing: -0.5px;
}
h3{
    font-size: 43px;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    margin-bottom: 20px;
}
a.thin{
    font-weight: 100;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    margin: 0 15px;
}
a.thin:hover{
    border-bottom: 2px solid #000000;
}

/* HOMEPAGE */
.homepage{
    text-align: center;

    .top{
        border-bottom: 1px solid #000000;
    }
    .story{
        border-bottom: 1px solid #000000;
        padding: 65px 0 40px 0;

        img{
            margin-bottom:20px;
        }
    }
    .channel{
        border: 1px solid #000000;
        width: 40%;
        padding: 30px 20px;
        margin: 20px;
        display: inline-block;

        img{
            margin-bottom: 20px;
        }
    }
    h2{
        font-weight: 100;
        letter-spacing: 3px;
        margin-bottom:1px;
    }
    h2:hover{
        border-bottom: 1px solid #000000;
        margin-bottom:0;
    }
    a{
        text-decoration: none;
    }
}

/* STORY */
.chapter{
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;

    p a{
        font-size: 19px;
    }
}
em{
    margin-left: 35px;
}
.menu{
    text-align: center;
    margin-bottom: 40px;

    li{
        display: inline-block;
        margin-bottom: 10px;
    }
}
.top-arrow{
    position: fixed;
    bottom: 10px;
    right: 15px;
}


/* POPUP PROFILE BOXES */
.hidden{
    display: none;
}
.profile-box{
    border:1px solid #000000;
    position: fixed;
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.9);

    p{
        font-size: 18px;
    }
}
.categories{
    ul{
        float: right;
        margin: 0;
    }
    li{
        list-style: none;
        display: inline-block;
        padding: 0 5px;
        border-radius: 5px;
    }
    h4{
        font-family: 'Roboto', sans-serif;
        color:#ffffff;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }
}

/* PROFILE */
.profile{
    .key-point:nth-last-child(n+2)::after{
        content: "•";
        margin: 0 10px;
    }
    .left{
        max-width: 60%;
        float: left;
    }
    .right{
        max-width: 39%;
        float: right;
    }
    img{
        margin-top: 25px;
        width: 100%;
        height: 335px;
        object-fit: cover;
        object-position: 0 20%;
    }
    .key-points{
        padding: 10px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin: 10px 0 20px 0;
    }
    .extra-padding{
        padding-bottom: 30px;
    }
    .center{
        text-align: center;
    }
    .menu{
        border-top: 1px solid #000000;
        margin-top: 50px;
    }
    .no-desc{
        border-top: none;
        margin-top:0;
    }
    .box{
        ul{
            margin: 0;
        }
        li{
            font-weight: 100;
        }
        .dividing-line{
            margin: 15px 0;
        }
    }
    .sidebar{
        border: 1px solid #000000;
        padding: 15px;
        background-color: rgba(212, 212, 212, 0.9);
        max-width: 50%;
        float: right;
        margin-left: 20px;

        .dividing-line{
            border-bottom:1px solid #000000;
        }
    }
}

/* ARCHIVE */
.archive{
    a{
        font-size: initial;
    }
    .profile-box{
        position: static;
        margin: -1px auto;
        border-left: none;
        border-right: none;
        background-color: #ffffff;
    }
}

/* NAV */
.dnd-header{
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    background: rgba(255,255,255,0.95);
    position: sticky;
    width: 100%;
    top: 0;

    ul{
        width: 100%;

        li{
            float: right;
            
        }
        .left{
            float: left;
        }
    }
    a{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 100;
    }
}