<!DOCTYPE html>
<html>
<head>
    {embed="/_includes/dnd-header"}
    <title>Character Sheet</title>
</head>
<body>
    <?php
        error_reporting(E_ALL);
        require_once $_SERVER['DOCUMENT_ROOT']."/assets/php/character-generator.php";


    ?>

    {embed="/_includes/nav"}

    <div class="container">
        <ul>
            <li>NAME: <?php echo $testName = $process->getData("character_name","{last_segment}"); ?></li>
            <li>RACE: <?php echo $process->getData("character_race","{last_segment}"); ?></li>
            <li>CLASS: <?php echo $process->getData("character_class","{last_segment}"); ?></li>
            <hr>
            <li>STR: <?php echo $process->getData("strength","{last_segment}"); ?></li>
            <li>CON: <?php echo $process->getData("constitution","{last_segment}"); ?></li>
            <li>DEX: <?php echo $process->getData("dexterity","{last_segment}"); ?></li>
            <li>INT: <?php echo $process->getData("intelligence","{last_segment}"); ?></li>
            <li>WIS: <?php echo $process->getData("wisdom","{last_segment}"); ?></li>
            <li>CHA: <?php echo $process->getData("charisma","{last_segment}"); ?></li>
        </ul>
    </div>

    <?php if(!$testName){ ?>
    {redirect="404"}
    <?php } ?>

</body>
</html>