<!DOCTYPE html>
<html>
<head>
    {embed="/_includes/dnd-header"}
    <title>Character Builder</title>
</head>
<body>
    {embed="/_includes/nav"}
    <div class="container">
        <h1>
            Character Builder
        </h1>

        <?php 
            error_reporting(E_ALL);
            require_once $_SERVER['DOCUMENT_ROOT']."/assets/php/character-generator.php";

            if (isset($_POST['entered'])){
                $character_name = $process->validateText($_POST['character_name']);
                $character_race = $process->validateText($_POST['character_race']);
                $character_class = $process->validateText($_POST['character_class']);
                $strength = $process->validateText($_POST['strength']);
                $constitution = $process->validateText($_POST['constitution']);
                $dexterity = $process->validateText($_POST['dexterity']);
                $intelligence = $process->validateText($_POST['intelligence']);
                $wisdom = $process->validateText($_POST['wisdom']);
                $charisma = $process->validateText($_POST['charisma']);
                $character_alignment = ($_POST['character_alignment']);

                $inputs = array("character_name"=>$character_name, "character_race"=>$character_race, "character_class"=>$character_class,"strength"=>$strength,"constitution"=>$constitution,"dexterity"=>$dexterity,"intelligence"=>$intelligence,"wisdom"=>$wisdom,"charisma"=>$charisma,"character_alignment"=>$character_alignment);


                $process->addData($inputs);
            }
        ?>

        <form action="" method="post">
            <ul class="inputs">
                <li>NAME: <input type="text" name="character_name"></li>
                <li>RACE: <input type="text" name="character_race"></li>
                <li>CLASS: <input type="text" name="character_class"></li>
                <li>ALIGNMENT: <select name="character_alignment">
                    <option value="lawful_good">Lawful Good</option>
                    <option value="neutral_good">Neutral Good</option>
                    <option value="chaotic_good">Chaotic Good</option>
                    <option value="lawful_neutral">Lawful Neutral</option>
                    <option value="true_neutral">True Neutral</option>
                    <option value="chaotic_neutral">Chaotic Neutral</option>
                    <option value="lawful_evil">Lawful Evil</option>
                    <option value="neutral_evil">Neutral Evil</option>
                    <option value="chaotic_evil">Chaotic Evil</option>
                </select>
                <div class="arrow"></div></li>
                <hr>
                <li>STR: <input type="number" name="strength"></li>
                <li>CON: <input type="number" name="constitution"></li>
                <li>DEX: <input type="number" name="dexterity"></li>
                <li>INT: <input type="number" name="intelligence"></li>
                <li>WIS: <input type="number" name="wisdom"></li>
                <li>CHA: <input type="number" name="charisma"></li>
                <input type="hidden" name="csrf_token" value="{csrf_token}">
                <button type="submit" name="entered">SUBMIT</button>
            </ul>
        </form>
    </div>
</body>
</html>