<!DOCTYPE html>
<html>
<head>
	{embed=/_includes/dnd-header}
	{exp:channel:entries channel='characters' limit='1' url_title="{last_segment}"}
		<title>{title}</title>
	{/exp:channel:entries}
</head>
<body>
	<div class="container profile">
		{exp:channel:entries channel='characters' limit='1' url_title="{last_segment}"}

		<div class="top">
		<div class="{if image}left{if:else}center{/if}">
				<h1>
					{title}
				</h1>
				<h3>
					{standfirst}
				</h3>
			</div>

			{if image}
			<div class="right">
				<div class="enlarge">
					<a href="{image}" target="_blank">
						<img src="{image}" />
					</a>
				</div>
			</div>
			{/if}
			<div class="clearfix"></div>

			<div class="key-points{if key-points}{if:else} extra-padding{/if}">
				<div class="categories">
					<ul>    
						{categories orderby="asc"}
						<li style="background-color:{colour}">
							<h4>{category_name}</h4>
						</li>
						{/categories}
					</ul>
				</div>

				{key-points}
				<h2 class="key-point">
					{key-points:info}
				</h2>
				{/key-points}
			</div>
			</div>

			<p>
				{description}
			</p>

			{if appears-in}
			<div class="menu{if description}{if:else} no-desc{/if}">
				<ul>
					<li>
						<h2>
							Appears in:
						</h2>
					</li>
					{appears-in orderby="chapter" sort="asc"}
					<li>
						<a href="/story#{appears-in:url_title}">
							{appears-in:title}
						</a>
					</li>
					{/appears-in}
				</ul>
			</div>
			{/if}

		{/exp:channel:entries}
	</div>
</body>
</html>