<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/tiamat-new.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">
    <meta charset="utf-8">

    <title>T I A M A T</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/dnd.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

</head>