<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DND</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/notes-sheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
    <h2 class="player-name">
        Player Name:
    </h2>
    <h1>
        Notes
    </h1>
    <div class="people box">
        <h2>People</h2>
        <table>
            <tr>
                <td class="name">
                    <h3>Name</h3>
                </td>
                <td class="desc">
                    <h3>Description</h3>
                </td>
                <td class="notes">
                    <h3>Notes</h3>
                </td>
            </tr>
        </table>
    </div>
    <div class="places box">
        <h2>Places</h2>
    </div>
    <div class="events box">
        <h2>Events</h2>
        <table>
            <tr>
                <td class="time">
                    <h3>
                        Time
                    </h3>
                </td>
                <td class="desc">
                    <h3>
                        Description
                    </h3>
                </td>
            </tr>
        </table>
    </div>

    <div class="items box">
        <h2>Items</h2>
    </div>
    <div class="clearfix"></div>
    <div class="other box">
        <h2>Other</h2>
    </div>
</body>
</html>