<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lofi hip-hop beats to study to</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        iframe{
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
        }
    </style>
</head>
<body>
    <iframe src="https://www.youtube.com/embed/hHW1oY26kxQ?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
</html>