<!DOCTYPE html>
<html>
<head>
    {embed="/_includes/dnd-header"}
    <title>404</title>
</head>
<body>
    {embed="/_includes/nav"}
    <div class="container fourohfour">
        <div class="left">
            <h1>
                404
            </h1>   
            <h3>
                You failed your investigation check...
            </h3>
            <p>
                This page doesn't exist, <a href="/" class="thin">return to home</a>?
            </p>
        </div>
        <div class="right">
            <img src="/assets/images/404-skull.png">
        </div>
    </div>
</body>
</html>