    {embed="/_includes/header"}

    <div id="background"></div>

    <div id="cart">
      <a href="/cart" id="cart-total">0</a>
    </div>

    <div class="container">

        <div class="all-items">
            {exp:channel:entries channel="products"}
            <div class="item">
                <a href="{url_title_path="products/"}">
                    <img src="#">
                    <p>
                        {title}
                    </p>
                </a>
                <button class="pop-in" onclick="addToCart('{title}'), addPrice({price})">
                  add to cart
                </button>
            </div>
            {/exp:channel:entries}
        </div>

    </div>

    <p id="cart-total"></p>

    <script src="assets/js/colour-change.js"></script>
    <script src="assets/js/cart.js"></script>
</body>
</html>
