{layout="/_includes/layout-main"}

<body class="archive">
    {embed="/_includes/nav"}
    <div class="container">
        {exp:channel:category_archive show="{last_segment_category_id}" style="linear" channel="characters|story"}
        {categories}
            <h1 style="border-left:5px solid {colour}; padding-left:15px;">{category_name}</h1>
        {/categories}
        {/exp:channel:category_archive}

        {exp:channel:entries category="{last_segment_category_id}"}
        {layout:set name="title"}{last_segment_category_name} {channel}{/layout:set}
        <div class="profile-box categories" id="{url_title}">
            <a href="/{channel_short_name}/{url_title}">
                <h2>{title}</h2>
            </a>
            <p>{standfirst}</p>
        </div>
        {/exp:channel:entries}

        <div class="view-all-categories">
            <button>
                <a href="/categories">View all categories</a>
            </button>
        </div>
    </div>
</body>