@charset "UTF-8";
/* line 1, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.clearfix {
  clear: both; }

/* line 4, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h1 {
  float: none;
  margin: 25px auto 20px auto;
  display: block; }

/* line 9, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.h1-container {
  text-align: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 25px; }

/* line 14, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h2 {
  font-weight: 900;
  font-size: 21px;
  letter-spacing: -0.5px; }

/* line 19, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h3 {
  font-size: 43px;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  margin-bottom: 20px; }

/* line 25, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
a.thin {
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin: 0 15px; }

/* line 31, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
a.thin:hover {
  border-bottom: 2px solid #000000; }

/* STORY */
/* line 35, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.chapter {
  padding-bottom: 30px;
  border-bottom: 1px solid #000000;
  margin-bottom: 30px; }

/* line 40, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
p {
  font-weight: 300; }

/* line 43, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
em {
  margin-left: 35px; }

/* line 46, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.menu {
  text-align: center;
  margin-bottom: 40px; }
  /* line 50, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .menu li {
    display: inline-block;
    margin-bottom: 10px; }

/* line 55, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.top-arrow {
  text-align: center;
  width: 30px;
  height: 26px;
  border-radius: 20px;
  border: 1px solid #000000;
  float: right;
  padding-top: 4px; }
  /* line 64, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .top-arrow a:hover {
    font-weight: 900; }
  /* line 67, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .top-arrow a {
    text-decoration: none;
    font-weight: 100; }

/* POPUP PROFILE BOXES */
/* line 75, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.hidden {
  display: none; }

/* line 78, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile-box {
  border: 1px solid #000000;
  position: fixed;
  padding: 10px;
  background-color: rgba(212, 212, 212, 0.9); }
  /* line 84, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile-box p {
    font-size: 18px; }

/* line 89, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories ul {
  float: right;
  margin: 0; }

/* line 93, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px; }

/* line 99, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories h4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0; }

/* PROFILE */
/* line 110, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .key-point:nth-last-child(n+2)::after {
  content: "•";
  margin: 0 10px; }

/* line 114, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .left {
  max-width: 60%;
  float: left; }

/* line 118, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .right {
  max-width: 39%;
  float: right; }

/* line 122, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile img {
  margin-top: 25px;
  width: 100%;
  height: 335px;
  object-fit: cover;
  object-position: 0 20%; }

/* line 130, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .key-points {
  padding: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 10px 0 20px 0; }

/* line 136, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .extra-padding {
  padding-bottom: 30px; }

/* line 139, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .center {
  text-align: center; }

/* line 142, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .menu {
  border-top: 1px solid #000000;
  margin-top: 50px; }

/* line 146, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .no-desc {
  border-top: none;
  margin-top: 0; }

/* line 151, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box ul {
  margin: 0; }

/* line 154, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box li {
  font-weight: 100; }

/* line 157, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box .dividing-line {
  margin: 15px 0; }

/* line 161, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .sidebar {
  border: 1px solid #000000;
  padding: 15px;
  background-color: rgba(212, 212, 212, 0.9);
  max-width: 50%;
  float: right;
  margin-left: 20px; }
  /* line 169, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile .sidebar .dividing-line {
    border-bottom: 1px solid #000000; }

/* ARCHIVE */
/* line 177, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.archive a {
  font-size: initial; }

/* line 180, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.archive .profile-box {
  position: static;
  margin: -1px auto;
  border-left: none;
  border-right: none;
  background-color: #ffffff; }

/*# sourceMappingURL=../css/dnd.map */