@charset "UTF-8";
/* line 1, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.clearfix {
  clear: both; }

/* line 4, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
p {
  font-weight: 300;
  font-size: 19px; }

/* line 8, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h1 {
  float: none;
  margin: 25px auto 20px auto;
  display: block; }

/* line 13, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.h1-container {
  text-align: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 25px; }

/* line 18, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h2 {
  font-weight: 900;
  font-size: 21px;
  letter-spacing: -0.5px; }

/* line 23, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h3 {
  font-size: 43px;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  margin-bottom: 20px; }

/* line 29, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
a.thin {
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin: 0 15px; }

/* line 35, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
a.thin:hover {
  border-bottom: 2px solid #000000; }

/* HOMEPAGE */
/* line 40, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.homepage {
  text-align: center; }
  /* line 43, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage .top {
    border-bottom: 1px solid #000000; }
  /* line 46, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage .story {
    border-bottom: 1px solid #000000;
    padding: 65px 0 40px 0; }
    /* line 50, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .homepage .story img {
      margin-bottom: 20px; }
  /* line 54, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage .channel {
    border: 1px solid #000000;
    width: 40%;
    padding: 30px 20px;
    margin: 20px;
    display: inline-block; }
    /* line 61, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .homepage .channel img {
      margin-bottom: 20px; }
  /* line 65, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage h2 {
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 1px; }
  /* line 70, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage h2:hover {
    border-bottom: 1px solid #000000;
    margin-bottom: 0; }
  /* line 74, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage a {
    text-decoration: none; }

/* STORY */
/* line 80, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.chapter {
  padding-bottom: 30px;
  border-bottom: 1px solid #000000;
  margin-bottom: 30px; }
  /* line 85, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .chapter p a {
    font-size: 19px; }

/* line 89, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
em {
  margin-left: 35px; }

/* line 92, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.menu {
  text-align: center;
  margin-bottom: 40px; }
  /* line 96, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .menu li {
    display: inline-block;
    margin-bottom: 10px; }

/* line 101, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.top-arrow {
  text-align: center;
  width: 30px;
  height: 26px;
  border-radius: 20px;
  border: 1px solid #000000;
  float: right;
  padding-top: 4px; }
  /* line 110, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .top-arrow a:hover {
    font-weight: 900; }
  /* line 113, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .top-arrow a {
    text-decoration: none;
    font-weight: 100; }

/* POPUP PROFILE BOXES */
/* line 121, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.hidden {
  display: none; }

/* line 124, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile-box {
  border: 1px solid #000000;
  position: fixed;
  padding: 10px;
  background-color: rgba(212, 212, 212, 0.9); }
  /* line 130, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile-box p {
    font-size: 18px; }

/* line 135, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories ul {
  float: right;
  margin: 0; }

/* line 139, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px; }

/* line 145, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories h4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0; }

/* PROFILE */
/* line 156, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .key-point:nth-last-child(n+2)::after {
  content: "•";
  margin: 0 10px; }

/* line 160, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .left {
  max-width: 60%;
  float: left; }

/* line 164, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .right {
  max-width: 39%;
  float: right; }

/* line 168, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile img {
  margin-top: 25px;
  width: 100%;
  height: 335px;
  object-fit: cover;
  object-position: 0 20%; }

/* line 175, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .key-points {
  padding: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 10px 0 20px 0; }

/* line 181, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .extra-padding {
  padding-bottom: 30px; }

/* line 184, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .center {
  text-align: center; }

/* line 187, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .menu {
  border-top: 1px solid #000000;
  margin-top: 50px; }

/* line 191, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .no-desc {
  border-top: none;
  margin-top: 0; }

/* line 196, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box ul {
  margin: 0; }

/* line 199, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box li {
  font-weight: 100; }

/* line 202, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box .dividing-line {
  margin: 15px 0; }

/* line 206, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .sidebar {
  border: 1px solid #000000;
  padding: 15px;
  background-color: rgba(212, 212, 212, 0.9);
  max-width: 50%;
  float: right;
  margin-left: 20px; }
  /* line 214, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile .sidebar .dividing-line {
    border-bottom: 1px solid #000000; }

/* ARCHIVE */
/* line 222, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.archive a {
  font-size: initial; }

/* line 225, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.archive .profile-box {
  position: static;
  margin: -1px auto;
  border-left: none;
  border-right: none;
  background-color: #ffffff; }

/* NAV */
/* line 235, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.dnd-header {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  width: 100%;
  top: 0; }
  /* line 243, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .dnd-header ul {
    width: 100%; }
    /* line 246, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .dnd-header ul li {
      float: right; }
    /* line 250, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .dnd-header ul .left {
      float: left; }
  /* line 254, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .dnd-header a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100; }

/*# sourceMappingURL=../css/dnd.map */