@charset "UTF-8";
/* line 1, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.clearfix {
  clear: both; }

/* line 4, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
p {
  font-weight: 300;
  font-size: 19px; }

/* line 8, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h1 {
  float: none;
  margin: 25px auto 20px auto;
  display: block; }

/* line 13, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.h1-container {
  text-align: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 25px; }

/* line 18, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h2 {
  font-weight: 900;
  font-size: 21px;
  letter-spacing: -0.5px; }

/* line 23, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
h3 {
  font-size: 43px;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  margin-bottom: 20px; }

/* line 29, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
a.thin {
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin: 0 15px; }

/* line 35, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
a.thin:hover {
  border-bottom: 2px solid #000000; }

/* HOMEPAGE */
/* line 40, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.homepage {
  text-align: center; }
  /* line 43, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage .top {
    border-bottom: 1px solid #000000; }
  /* line 46, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage .story {
    border-bottom: 1px solid #000000;
    padding: 30px 0 30px 0; }
    /* line 50, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .homepage .story img {
      margin-bottom: 15px; }
  /* line 54, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage .channel {
    border: 1px solid #000000;
    width: 40%;
    padding: 30px 20px;
    margin: 15px;
    display: inline-block; }
    /* line 61, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .homepage .channel img {
      margin-bottom: 20px; }
  /* line 65, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage ul {
    margin-bottom: 0; }
  /* line 68, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage h2 {
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 1px; }
  /* line 73, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage h2:hover {
    border-bottom: 1px solid #000000;
    margin-bottom: 0; }
  /* line 77, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .homepage a {
    text-decoration: none; }

/* STORY */
/* line 83, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.chapter {
  padding-bottom: 30px;
  border-bottom: 1px solid #000000;
  margin-bottom: 30px; }
  /* line 88, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .chapter p a {
    font-size: 19px; }

/* line 92, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
em {
  margin-left: 35px; }

/* line 95, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.menu {
  text-align: center;
  margin-bottom: 40px; }
  /* line 99, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .menu li {
    display: inline-block;
    margin-bottom: 10px; }

/* line 104, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.top-arrow {
  position: fixed;
  bottom: 10px;
  right: 15px; }

/* POPUP PROFILE BOXES */
/* line 112, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.hidden {
  display: none; }

/* line 115, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile-box {
  border: 1px solid #000000;
  position: fixed;
  padding: 10px;
  background-color: rgba(212, 212, 212, 0.9); }
  /* line 121, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile-box p {
    font-size: 18px; }

/* line 126, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories ul {
  float: right;
  margin: 0; }

/* line 130, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px; }

/* line 136, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.categories h4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0; }

/* PROFILE */
/* line 147, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .key-point:nth-last-child(n+2)::after {
  content: "•";
  margin: 0 10px; }

/* line 151, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .left {
  max-width: 60%;
  float: left; }

/* line 155, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .right {
  max-width: 39%;
  float: right; }

/* line 159, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile img {
  margin-top: 25px;
  width: 100%;
  height: 335px;
  object-fit: cover;
  object-position: 0 20%; }

/* line 166, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .key-points {
  padding: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 10px 0 20px 0; }

/* line 172, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .extra-padding {
  padding-bottom: 30px; }

/* line 175, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .center {
  text-align: center; }

/* line 178, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .menu {
  border-top: 1px solid #000000;
  margin-top: 50px; }

/* line 182, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .no-desc {
  border-top: none;
  margin-top: 0; }

/* line 187, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box ul {
  margin: 0; }

/* line 190, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box li {
  font-weight: 100; }

/* line 193, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .box .dividing-line {
  margin: 15px 0; }

/* line 197, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .sidebar {
  border: 1px solid #000000;
  padding: 15px;
  background-color: rgba(212, 212, 212, 0.9);
  max-width: 50%;
  float: right;
  margin-left: 20px; }
  /* line 205, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile .sidebar .dividing-line {
    border-bottom: 1px solid #000000; }

/* line 209, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.profile .all-comments {
  text-align: center;
  width: 100%;
  margin-bottom: 45px; }
  /* line 214, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .profile .all-comments .comments-box {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    display: inline-block;
    width: 100%;
    max-width: 30%;
    vertical-align: top;
    padding: 0 10px; }
    /* line 223, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .profile .all-comments .comments-box h2 {
      margin-bottom: 10px; }
    /* line 226, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .profile .all-comments .comments-box p {
      text-align: left; }
    /* line 229, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .profile .all-comments .comments-box .new-comment {
      margin-top: 20px;
      text-align: left; }
      /* line 233, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
      .profile .all-comments .comments-box .new-comment h2 {
        margin-bottom: 0; }
      /* line 236, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
      .profile .all-comments .comments-box .new-comment textarea {
        width: 98%;
        font-family: 'Roboto',sans-serif;
        font-size: 19px;
        font-weight: 300;
        resize: none;
        resize: vertical;
        outline: none;
        border: 1px solid #000000; }
      /* line 246, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
      .profile .all-comments .comments-box .new-comment .button {
        position: relative;
        top: -35px;
        left: 220px;
        border-radius: 0;
        background: none;
        font-family: 'Roboto',sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        border: 1px solid #000000;
        font-size: 16px; }
      /* line 258, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
      .profile .all-comments .comments-box .new-comment .button:hover {
        background-color: rgba(212, 212, 212, 0.9); }

/* ARCHIVE */
/* line 268, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.archive a {
  font-size: initial; }

/* line 271, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.archive .profile-box {
  position: static;
  margin: -1px auto;
  border-left: none;
  border-right: none;
  background-color: #ffffff; }

/* NAV */
/* line 281, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
.dnd-header {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  width: 100%;
  top: 0; }
  /* line 289, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .dnd-header ul {
    width: 100%; }
    /* line 292, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .dnd-header ul li {
      float: right; }
    /* line 296, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
    .dnd-header ul .left {
      float: left; }
  /* line 300, /Users/chesterblack/Documents/Development/Tiamat/assets/sass/dnd.scss */
  .dnd-header a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100; }

/*# sourceMappingURL=../css/dnd.map */