:root{
    --lightnesscolor:#000;
    --activeColor:#aaa;
    --oppositeLightnessColor:#fff;
    --transparancyColor:rgba(0,0,0,0.3);
}
html{
  min-height: 100%;
  position: relative;
}
#background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    background-color: var(--activeColor);
}
#background2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    background-color: var(--activeColor);
}
body{
    margin: 0;
    height: 100%;
}
.container{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}
h1{
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 12px;
    float: right;
    margin: 20px 0 0 0;
    font-size: 50px;
}
p, a, li{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin: 0;
    color: var(--lightnesscolor);
}
ul{
    padding: 0;
}
li {
    list-style: none;
}
/*--- CART ---*/
#cart{
  position:fixed;
  bottom:0;
  left:0;
  border-top:1px solid var(--lightnesscolor);
  border-right:1px solid var(--lightnesscolor);
  border-bottom:1px solid var(--lightnesscolor);
  padding:20px;
  background-color: var(--activeColor);
}
#cart-total{
  text-decoration: none;
}
.cart-contents{
  float: right;
  padding-top: 15px;
}
#price-total{
  margin-top: 5px;
  padding-top: 5px;
  border-top:1px solid var(--lightnesscolor);
}
.cart-contents .checkout{
  margin-top:50px;
}
#cart-items button{
    border: none;
    padding: 0;
    background: none;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    margin: 0 5px;
    float: right;
    color: var(--lightnesscolor);
}
/* --- HEADER --- */
div#header{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--transparancyColor);
    width: 100%;
    border-bottom: 1px solid var(--lightnesscolor);
}
nav ul{
  margin: 0;
}
nav li{
  display: inline-block;
  margin: 10px 20px 0 0;
}
nav a{
  text-decoration: none;
}
nav a:hover{
  border-bottom: 1px solid var(--lightnesscolor);
}
#nav-left{
    padding-top: 10px;
    display:inline-block;
}
#nav-right{
  display: inline-block;
  float: right;
}
#header .colour-button{
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    display: inline-block;
    cursor: pointer;
}
#red-button{
    background-color: #b1372b;
    border: 1px solid #b1372b;
}
#blue-button{
    background-color: #5c9abc;
    border: 1px solid #5c9abc;
}
#green-button{
    background-color: #b1cc3d;
    border: 1px solid #b1cc3d;
}
#white-button{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
#black-button{
    background-color: #000000;
    border: 1px solid #000000;
}
.hamburger{
  display:none;
}
#mobile-menu{
  display: none;
}
#logo{
    max-width: 60px;
    margin-top: 18px;
    float: right;
    display: inline-block;
}
/* --- HOMEPAGE --- */
.all-items{
    margin: 0 auto;
    padding-top: 10px;
}
.item{
    width: 100px;
    margin: 10px 20px 32px 0;
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}
.item:hover{
  border: 1px solid var(--lightnesscolor);
  background-color: var(--transparancyColor);
  padding: 9px;
}
.item a{
    text-decoration: none;
}
.item p{
    color:var(--lightnesscolor);
}
.item img{
    height:100px;
    margin-bottom: 10px;
    transform: translateZ(0);
}
.pop-in{
  background-color: var(--lightnesscolor);
  color: var(--activeColor);
  border: none;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  display: none;
  cursor: pointer;
  width: 100%;
  padding: 2px 7px;
}
.item:hover .pop-in{
  display: block;
}
.pop-in:hover{
  background-color: var(--activeColor);
  color: var(--lightnesscolor);
  border: 1px solid var(--lightnesscolor);
  padding: 1px 6px!important;
}
.item:hover{
  margin-bottom:0;
  margin-top:10px;
}
/* --- SINGLE-ENTRY --- */
.content{
    padding: 500px 20px 20px 20px;
    margin:0 auto;
}
h2{
    display: inline-block;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: var(--lightnesscolor);
    display: inline-block;
    font-size: 85px;
    margin: 0;
}
.price{
    float: right;
    display: inline-block;
}
.price p{
    color: var(--lightnesscolor);
    width: 100%;
    padding: 0 5px;
}
.cart-button{
    float: right;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    border: 1px solid var(--lightnesscolor);
    padding: 5px;
    cursor:pointer;
}
.cart-button:hover{
  background-color: var(--lightnesscolor);
  color: var(--activeColor);
}

/* ANIMATIONS */
.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-6-15 13:34:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
