:root{
    --lightnesscolor:#000;
    --activeColor:#aaa;
}
html{
  min-height: 100%;
  position: relative;
}
#background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #aaa;
}
body{
    margin: 0;
    height: 100%;
}
#container{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}
h1{
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 12px;
    float: right;
    margin: 7px 0 0 0;
    font-size: 32px;
}
p, a, li{
    font-family: Roboto, sans-serif;
    font-size: 26px;
    margin: 0;
    color: var(--lightnesscolor);
}
ul{
    padding: 0;
}
li {
    list-style: none;
}
/*--- CART ---*/
#cart{
  position:absolute;
  top:20%;
  left:0;
  border-top:1px solid var(--lightnesscolor);
  border-right:1px solid var(--lightnesscolor);
  border-bottom:1px solid var(--lightnesscolor);
  padding:20px;
  background-color: var(--activeColor);
}
#cart-total{
  text-decoration: none;
}
.cart-contents{
  float: right;
  padding-top: 15px;
}
#price-total{
  margin-top: 5px;
  padding-top: 5px;
  border-top:1px solid var(--lightnesscolor);
}
.cart-contents .checkout{
  margin-top:50px;
}
#cart-items button{
    border: none;
    padding: 0;
    background: none;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    margin: 0 5px;
    float: right;
    color: var(--lightnesscolor);
}
/* --- HEADER --- */
div#header{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--lightnesscolor);

}
#nav{
    padding-top: 10px;
    display:inline-block;
}
#nav a{
    font-size:20px;
}
#header button{
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    display: inline-block;
    cursor: pointer;
}
#red-button{
    background-color: #b1372b;
    border: 1px solid #b1372b;
}
#blue-button{
    background-color: #5c9abc;
    border: 1px solid #5c9abc;
}
#green-button{
    background-color: #b1cc3d;
    border: 1px solid #b1cc3d;
}
#white-button{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
#black-button{
    background-color: #000000;
    border: 1px solid #000000;
}
#logo{
    max-width: 50px;
    float: right;
    display: inline-block;
}
/* --- HOMEPAGE --- */
.all-items{
    margin: 0 auto;
}
.item{
    background-color: #fff;
    width: 100px;
    margin: 20px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.item a{
    text-decoration: none;
}
.item p{
    color:#000000;
}
.item img{
    height:100px;
    margin-bottom: 10px;
    transform: translateZ(0);
}
/* --- SINGLE-ENTRY --- */
.content{
    padding: 500px 20px 20px 20px;
    margin:0 auto;
}
h2{
    display: inline-block;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: var(--lightnesscolor);
    display: inline-block;
    font-size: 85px;
    margin: 0;
}
.price{
    float: right;
    display: inline-block;
}
.price p{
    color: var(--lightnesscolor);
    width: 100%;
    padding: 0 5px;
}
.cart-button{
    float: right;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    border: 1px solid var(--lightnesscolor);
    padding: 5px;
    cursor:pointer;
}