body{
    max-width: 890px;
    margin: 20px auto;
}
h1,h2,h3{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    font-weight:400;
}
h3{
    font-weight: 100;
}
.clearfix{
    clear: both;
}
.player-name{
    float: right;
    border: none;
    margin: 7px 300px 0 0;
}
.box{
    border: 1px solid #000000;
    margin: 10px auto;
    padding: 10px;
}
h2{
    border-bottom: 1px solid #000000;
}
.people td{
    padding-bottom: 400px;
}
.people .name{
    width: 28%;
}
.people .desc{
    width: 60%;
    border-left: 1px solid #000000;
    padding-left: 10px;
}
.people .notes, .events .desc{
    border-left: 1px solid #000000;
    padding-left: 10px;
}
.places{
    width: 46%;
    float: left;
    height: 400px;
}
.events td{
    padding-bottom:123px;
}
.events, .items{
    width: 46%;
    float: right;
    height: 179px;
}
.events .time{
    width: 41%;
}
.other{
    height: 400px;;
}