<!doctype html>

<html lang="en">
<head>
    {embed=/_includes/dnd-header}
    <title>The story so far...</title>
</head>
<body>

<script>

function showBox(profile){
    console.log(profile);
    document.getElementById(profile).classList.toggle("hidden");
}

function moveDivs(event)
    {
        x=event.screenX;
        y=event.screenY;
        
    {exp:channel:entries channel="characters"}
        document.getElementById("{url_title}").style.left=x+"px";
        document.getElementById("{url_title}").style.top=(y-60)+"px";
    {/exp:channel:entries}

    }
</script>

    <div class="container" onmousemove="moveDivs(event)">
        <div class="h1-container" id="top">
            <h1>The Story So Far...</h1>
        </div>
        
        <div class="menu">
            {exp:channel:entries channel="story" status="not closed" sort="asc"}
                <li><a href="#{url_title}">{title}</a></li>
            {/exp:channel:entries}
        </div>

        {exp:channel:entries channel="story" status="not closed" sort="asc"}
            <div class="chapter" id="{url_title}">

                <h2>Chapter {chapter}</h2>

                {!--<div class="top-arrow">
                    <a href="#top">^</a>
                </div>--}

                <h3>{title}</h3>

                <p>
                    {exp:low_replace regex="yes" find="a class=QUOTE(.*?)QUOTE" replace="a href='/characters/profile/$1' target='_blank' onmouseover=QUOTEshowBox('$1')QUOTE onmouseout=QUOTEshowBox('$1')QUOTE"}
                        {what-happened}
                    {/exp:low_replace}
                </p>

            </div>
        {/exp:channel:entries}
    </div>

{exp:channel:entries channel="characters"}
    <div class="profile-box hidden" id="{url_title}">
        <ul>    
            {categories orderby="asc"}
            <li style="background-color:{colour}">
                <h4>{category_name}</h4>
            </li>
            {/categories}
        </ul>
        <h2>{title}</h2>
        <p>{standfirst}</p>
    </div>
{/exp:channel:entries}

</body>
</html>