<!DOCTYPE html>
<html>
<head>
    {embed="/_includes/dnd-header"}
    <title>T I A M A T</title>
</head>
<body>
    <div class="container homepage">
        <div class="top">
            <h1>
                TIAMAT
            </h1>
        </div>

        <div class="story">
            <a href="/story">
                <img src="/assets/images/story-mid.svg">
            </a>
            <div class="clearfix"></div>
            <h2>
                <a href="/story">
                    The story so far...
                </a>
            </h2>
        </div>
        
        <ul>
            <li class="channel">
                <a href="/characters">
                    <img src="/assets/images/characters.svg">
                </a>
                <div class="clearfix"></div>
                <h2>
                    <a href="/characters">
                        Characters
                    </a>
                </h2>
            </li>
            <li class="channel">
                <a href="/items">
                    <img src="/assets/images/items.svg">
                </a>
                <div class="clearfix"></div>
                <h2>
                    <a href="/items">
                        Items
                    </a>
                </h2>
            </li>
            <li class="channel">
                <a href="/locations">
                    <img src="/assets/images/locations.svg">
                </a>
                <div class="clearfix"></div>
                <h2>
                    <a href="/locations">
                        Locations
                    </a>
                </h2>
            </li>
            <li class="channel">
                <a href="/resources">
                    <img src="/assets/images/resources.svg">
                </a>
                <div class="clearfix"></div>
                <h2>
                    <a href="/resources">
                        Resources
                    </a>
                </h2>
            </li>
        </ul>

    </div>
</body>
</html>