{layout="/_includes/layout-main"}
{layout:set name="title"}The story so far...{/layout:set}

<body>

    <script>

    function showBox(profile){
        document.getElementById(profile).classList.toggle("hidden");
    }

    function moveDivs(event){
        x = event.clientX;
        y = event.clientY;
        
        var profileBoxes = document.getElementsByClassName("profile-box");

        for(i = 0; i < profileBoxes.length; i++){
            profileBoxes[i].style.left = (x + 10) + "px";
            profileBoxes[i].style.top = y + "px";
        }
    }

    window.addEventListener("hashchange", function(){
        window.scrollTo(window.scrollX, window.scrollY - 75);
    });

    </script>

    {embed="/_includes/nav"}

    <div class="container" id="top" onmousemove="moveDivs(event)">
        <div class="h1-container" id="top">
            <h1>The Story So Far...</h1>
        </div>
        
        <div class="menu">
            {exp:channel:categories style="linear" category_group="4"}
                <ul>
                    <h2>- {category_name}: {book_title} -</h2><br />
                    {exp:channel:entries channel="story" status="not closed" orderby="chapter" sort="asc" category="{category_id}" dynamic="no"}
                        <li><a class="thin" href="#{url_title}">{title}</a></li>
                    {/exp:channel:entries}
                </ul>
            {/exp:channel:categories}
        </div>

        {exp:channel:categories style="linear" category_group="4"}
            <div class="chapter book">
                <h2>- {category_name} -</h2>
                <h3>{book_title}</h3>
            </div>

            {exp:channel:entries channel="story" status="not closed" orderby="chapter" sort="asc" category="{category_id}"}
                <div class="chapter" id="{url_title}">
                    <h2>Chapter {chapter}</h2>

                    <h3>{title}</h3>

                    <p>
                        {embed="/story/php-test" searchsource="{what-happened}"}
                    </p>
                </div>
            {/exp:channel:entries}
        {/exp:channel:categories}
    </div>

    <a href="#top" class="top-arrow">
        <img src="/assets/images/arrow-up.svg" />
    </a>


    {exp:channel:entries channel="items|characters|locations"}
        <div class='profile-box hidden categories' id='{url_title}'>
            <ul>
                {categories orderby='asc'}
                <li style='background-color:{colour}'>
                    <h4>{category_name}</h4>
                </li>
                {/categories}
            </ul>
            <h2>{title}</h2>
            <br /><em>{channel}</em><br />
            <p>{standfirst}</p>
        </div>
    {/exp:channel:entries}
    
</body>