<?php

    $search = "{embed:searchsource}";
    $find = array();
    $replace = array();

    {exp:channel:entries channel="locations|characters|items"}

    {aka}
    array_push($find, "{aka:name}");
    array_push($replace, "<a href=\"/{channel_short_name}/{url_title}\" target=\"_blank\" onmouseover=\"showBox('{url_title}')\" onmouseout=\"showBox('{url_title}')\">{aka:name}</a>");
    {/aka}

    array_push($find, "{title}");
    array_push($replace, "<a href=\"/{channel_short_name}/{url_title}\" target=\"_blank\" onmouseover=\"showBox('{url_title}')\" onmouseout=\"showBox('{url_title}')\">{title}</a>");
    
    {/exp:channel:entries}

    echo str_replace($find, $replace, $search);

?>